@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red">Hello World</h1>
    <hr style="color:mediumpurple" />
    <hr style="color:mediumpurple" />
    <hr />
    <hr />
    <h1 class="display-4" style="color:green">Dotnet Core 6 MVC Test Application.</h1>
    <br />
    <br />
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
